# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# PDFs
*.pdf

# Editor/OS specific
.DS_Store
.vscode/
*.swp

# Python / Jupyter
venv/
ULTRAHANG/venv/
.ipynb_checkpoints/
__pycache__/
